!!! 5
%html{lang: "ja"}
  %head
    %meta{name: "viewport", content: "width=device-width,initial-scale=1"}
    %meta{charset: "utf-8"}
    %link{rel: "stylesheet", href: "./css/app.css"}
    %title Commander Aipa
  %body
    %header#header.mb30
      %div.container.cf
        %h1.h1.top Commander Aipa
        %nav#nav
          %ul.menu.cf
            %li
              %a{href: "#"} Contact
    %div#contents.mb30
      %h2.h2.heading-style.mb10 Who are you
      %p.text.mb30
        プログラマーです。沖縄滞在。
        %br
        特に意味はないですが、Html5とCSS3が勉強したくてこのサイトを立ち上げました。
      %h2.h2.heading-style.mb10 Language
      %div.text.mb30
        %ul.list
          %li 日本語: OK
          %li 英語: 全然ダメ。勉強中
          %li Css: 仕事で使用
          %li Html: 仕事で使用
          %li Java: 趣味レベル
          %li JavaScript: 仕事で使用
          %li PHP: OK
          %li Python: 趣味レベル だけど、これが一番好き
          %li R: 趣味レベル 勉強中
          %li Scala: 趣味レベル 勉強中
          %li Swift: 趣味レベル 勉強中
          %li SQL: 仕事で使用
      %h2.h2.heading-style.mb10 Favorite
      %div.text.mb30
        %ul.list
          %li ギター
          %li カラオケ
      %h2.h2.heading-style.mb10 Education
      %div.text.mb30
        %p まだありまてーん^q^
      %h2.h2.heading-style.mb10 Link
      %div.text.mb30
        %ul.list
          %li
            %a{target: "_blank", href: "http://aipacommander.hatenablog.jp/"} IT隊長のブログ
          %li
            %a{target: "_blank", href: "https://github.com/Aipakazuma"} GitHub
      %h2.h2.heading-style.mb10 Load Map
      %div.text.mb30
        %ul.list
          %li レスポンシブ
          %li オブジェクト志向CSS（OOCSS適応）
          %li サーバーレスお問い合わせフォーム

    %footer#footer
      %hr
      %p Commander aipa site.