@charset "utf-8";

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
}

[id="header"] {
  width: 100%;
  background: #98b880;
  color: #fff;
  font-weight: 700;
  padding: 10px 0;
}

[id="nav"] {
  width: 10%;
  float: right;
}
.menu a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

[id="contents"] {
  margin: 0 auto;
  width: 980px;
}

[id="footer"] {
  margin: 10px auto;
  width: 980px;
}

.container {
  width: 980px;
  margin: 0 auto;
}